.main{
    display: flex;
    background-color: #ddd;
    width: 100%;
}

.fullLine{
    width: 100%;
}

.line1{
    display: flex; 
    border-color: #ddd;
    border-radius: inherit;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px #0000000d;
    justify-content: space-evenly;
}

.line2{
    display: flex; 
    border-color: #ddd;
    border-radius: inherit;
    padding: 15px;
    background-color: #ddd;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px #0000000d;
    justify-content: space-evenly;
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-accent {
    color: #fff;
    background-color: #ef502e;
    border: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #EEEEEE;
    white-space: nowrap;
    padding: 12px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-secondary {
    color: #fff;
    background-color: #333;
    border: none;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: normal;
}